USE [QuanLySinhVien_K235480106037]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BaoCaoChiTietHocTap]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_BaoCaoChiTietHocTap]()
RETURNS @BangKetQua TABLE (
    [MSSV] NVARCHAR(20),
    [TenSinhVien] NVARCHAR(100),
    [Diem] FLOAT,
    [XepLoai] NVARCHAR(50),
    [TinhTrangTaiChinh] NVARCHAR(50)
)
AS
BEGIN
    -- Chèn dữ liệu vào biến bảng @BangKetQua với các logic xử lý phức tạp
    INSERT INTO @BangKetQua
    SELECT 
        sv.[MaSinhVien],
        sv.[HoTen],
        ISNULL(kq.[DiemTrungBinh], 0),
        -- Logic 1: Phân loại học lực
        CASE 
            WHEN kq.[DiemTrungBinh] >= 8.0 THEN N'Xuất sắc/Giỏi'
            WHEN kq.[DiemTrungBinh] >= 6.5 THEN N'Khá'
            WHEN kq.[DiemTrungBinh] >= 5.0 THEN N'Trung bình'
            WHEN kq.[DiemTrungBinh] < 5.0 AND kq.[DiemTrungBinh] IS NOT NULL THEN N'Yếu (Cảnh báo)'
            ELSE N'Chưa có điểm'
        END,
        -- Logic 2: Phân loại tài chính (Dựa trên mức sàn 10 triệu)
        CASE 
            WHEN kq.[HocPhiDaDong] >= 10000000 THEN N'Đã hoàn thành'
            WHEN kq.[HocPhiDaDong] > 0 THEN N'Còn nợ (Đã đóng một phần)'
            ELSE N'Chưa đóng phí'
        END
    FROM [HoSoSinhVien] sv
    LEFT JOIN [KetQuaHocTap] kq ON sv.[MaSinhVien] = kq.[MaSinhVien];

    -- Bạn có thể viết thêm các câu lệnh UPDATE hoặc logic bổ sung tại đây trước khi RETURN
    
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhHocPhiConNo]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhHocPhiConNo] (@MaSV NVARCHAR(20))
RETURNS MONEY
AS
BEGIN
    DECLARE @DinhMuc MONEY = 10000000; -- Mức học phí cố định 10 triệu
    DECLARE @DaDong MONEY;
    DECLARE @ConNo MONEY;

    -- Lấy số tiền đã đóng từ bảng KetQuaHocTap
    SELECT @DaDong = ISNULL([HocPhiDaDong], 0) 
    FROM [KetQuaHocTap] 
    WHERE [MaSinhVien] = @MaSV;

    -- Nếu sinh viên chưa có hồ sơ trong bảng kết quả, coi như đã đóng 0
    IF @DaDong IS NULL SET @DaDong = 0;

    -- Tính toán
    SET @ConNo = @DinhMuc - @DaDong;

    RETURN @ConNo;
END;
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[NamNhapHoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSoSinhVien]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSoSinhVien](
	[MaSinhVien] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[Email] [varchar](100) NULL,
	[MaLop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachSinhVienTheoLop]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DanhSachSinhVienTheoLop] (@TenLop NVARCHAR(50))
RETURNS TABLE
AS
RETURN 
(
    SELECT 
        sv.[MaSinhVien], 
        sv.[HoTen], 
        sv.[NgaySinh], 
        l.[TenLop]
    FROM [HoSoSinhVien] sv
    INNER JOIN [LopHoc] l ON sv.[MaLop] = l.[MaLop]
    WHERE l.[TenLop] LIKE '%' + @TenLop + '%'
);
GO
/****** Object:  Table [dbo].[KetQuaHocTap]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaHocTap](
	[MaKetQua] [int] IDENTITY(1,1) NOT NULL,
	[MaSinhVien] [nvarchar](20) NULL,
	[DiemTrungBinh] [float] NULL,
	[HocPhiDaDong] [money] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HoSoSinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [Email], [MaLop]) VALUES (N'K235480106037', N'Nguyễn Trung Kiên', CAST(N'2005-10-15' AS Date), N'kien.nt@gmail.com', 1)
INSERT [dbo].[HoSoSinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [Email], [MaLop]) VALUES (N'K235480106038', N'Trần Thị B', CAST(N'2004-02-20' AS Date), N'b.tt@gmail.com', 1)
INSERT [dbo].[HoSoSinhVien] ([MaSinhVien], [HoTen], [NgaySinh], [Email], [MaLop]) VALUES (N'K235480106888', N'Phạm Thị Nở', CAST(N'2005-08-15' AS Date), N'no.pt@gmail.com', 1)
GO
SET IDENTITY_INSERT [dbo].[KetQuaHocTap] ON 

INSERT [dbo].[KetQuaHocTap] ([MaKetQua], [MaSinhVien], [DiemTrungBinh], [HocPhiDaDong], [NgayCapNhat]) VALUES (1, N'K235480106037', 10, 5000000.0000, CAST(N'2026-05-03T03:38:25.750' AS DateTime))
INSERT [dbo].[KetQuaHocTap] ([MaKetQua], [MaSinhVien], [DiemTrungBinh], [HocPhiDaDong], [NgayCapNhat]) VALUES (2, N'K235480106038', 7, 4500000.0000, CAST(N'2026-05-03T02:58:28.330' AS DateTime))
INSERT [dbo].[KetQuaHocTap] ([MaKetQua], [MaSinhVien], [DiemTrungBinh], [HocPhiDaDong], [NgayCapNhat]) VALUES (3, N'K235480106999', 3.2, 2500000.0000, CAST(N'2026-05-03T02:58:28.330' AS DateTime))
SET IDENTITY_INSERT [dbo].[KetQuaHocTap] OFF
GO
SET IDENTITY_INSERT [dbo].[LopHoc] ON 

INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [NamNhapHoc]) VALUES (1, N'Công nghệ thông tin K23', 2023)
SET IDENTITY_INSERT [dbo].[LopHoc] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoSoSinh__A9D10534E786D80B]    Script Date: 03/05/2026 4:23:30 SA ******/
ALTER TABLE [dbo].[HoSoSinhVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KetQuaHocTap] ADD  DEFAULT ((0)) FOR [HocPhiDaDong]
GO
ALTER TABLE [dbo].[KetQuaHocTap] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[HoSoSinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[HoSoSinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD  CONSTRAINT [FK_KetQua_SinhVien] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[HoSoSinhVien] ([MaSinhVien])
GO
ALTER TABLE [dbo].[KetQuaHocTap] CHECK CONSTRAINT [FK_KetQua_SinhVien]
GO
ALTER TABLE [dbo].[KetQuaHocTap]  WITH CHECK ADD  CONSTRAINT [CK_DiemSo] CHECK  (([DiemTrungBinh]>=(0) AND [DiemTrungBinh]<=(10)))
GO
ALTER TABLE [dbo].[KetQuaHocTap] CHECK CONSTRAINT [CK_DiemSo]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [CK_NamNhapHoc] CHECK  (([NamNhapHoc]>(2000)))
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [CK_NamNhapHoc]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoKetQuaHocTapChiTiet]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoKetQuaHocTapChiTiet]
    @MaLop INT = NULL -- Nếu để NULL sẽ hiện tất cả sinh viên
AS
BEGIN
    SELECT 
        sv.[MaSinhVien],
        sv.[HoTen],
        l.[TenLop],
        ISNULL(kq.[DiemTrungBinh], 0) AS [DiemSo],
        FORMAT(ISNULL(kq.[HocPhiDaDong], 0), 'N0') + ' VND' AS [HocPhi]
    FROM [HoSoSinhVien] sv
    INNER JOIN [LopHoc] l ON sv.[MaLop] = l.[MaLop]
    LEFT JOIN [KetQuaHocTap] kq ON sv.[MaSinhVien] = kq.[MaSinhVien]
    WHERE (@MaLop IS NULL OR l.[MaLop] = @MaLop)
    ORDER BY l.[TenLop], sv.[HoTen] ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatDiemSinhVien]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CapNhatDiemSinhVien]
    @MaSV NVARCHAR(20),
    @DiemMoi FLOAT
AS
BEGIN
    -- 1. Kiểm tra mã sinh viên có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM [HoSoSinhVien] WHERE [MaSinhVien] = @MaSV)
    BEGIN
        PRINT N'Lỗi: Không tìm thấy sinh viên có mã ' + @MaSV;
        RETURN;
    END

    -- 2. Kiểm tra logic điểm số (0 - 10)
    IF @DiemMoi < 0 OR @DiemMoi > 10
    BEGIN
        PRINT N'Lỗi: Điểm nhập vào (' + CAST(@DiemMoi AS NVARCHAR(5)) + N') không hợp lệ (Phải từ 0-10).';
        RETURN;
    END

    -- 3. Thực hiện cập nhật nếu các điều kiện trên đều thỏa mãn
    UPDATE [KetQuaHocTap]
    SET [DiemTrungBinh] = @DiemMoi,
        [NgayCapNhat] = GETDATE()
    WHERE [MaSinhVien] = @MaSV;

    -- Kiểm tra nếu sinh viên chưa có dòng nào trong bảng KetQuaHocTap thì INSERT mới
    IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO [KetQuaHocTap] ([MaSinhVien], [DiemTrungBinh])
        VALUES (@MaSV, @DiemMoi);
        PRINT N'Đã khởi tạo bản ghi mới và cập nhật điểm thành công.';
    END
    ELSE
    BEGIN
        PRINT N'Đã cập nhật điểm thành công cho sinh viên: ' + @MaSV;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DemSinhVienTheoLop]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DemSinhVienTheoLop]
    @TenLop NVARCHAR(50),          -- Tham số vào (Input)
    @TongSoSV INT OUTPUT           -- Tham số ra (Output)
AS
BEGIN
    -- Tính toán và gán giá trị vào tham số OUTPUT
    SELECT @TongSoSV = COUNT(sv.[MaSinhVien])
    FROM [HoSoSinhVien] sv
    JOIN [LopHoc] l ON sv.[MaLop] = l.[MaLop]
    WHERE l.[TenLop] LIKE '%' + @TenLop + '%';
    
    -- Nếu không tìm thấy lớp hoặc không có SV, mặc định là 0
    IF @TongSoSV IS NULL SET @TongSoSV = 0;
END;
GO
/****** Object:  Trigger [dbo].[trg_AutoCreateRecord]    Script Date: 03/05/2026 4:23:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoCreateRecord]
ON [dbo].[HoSoSinhVien]
AFTER INSERT
AS
BEGIN
    INSERT INTO [KetQuaHocTap] ([MaSinhVien], [DiemTrungBinh], [HocPhiDaDong])
    SELECT [MaSinhVien], 0, 0 FROM inserted;
    PRINT N'==> Trigger A: Đã tự động tạo hồ sơ học tập cho sinh viên mới.';
END;
GO
ALTER TABLE [dbo].[HoSoSinhVien] ENABLE TRIGGER [trg_AutoCreateRecord]
GO
/****** Object:  Trigger [dbo].[trg_UpdateBackToA]    Script Date: 03/05/2026 4:23:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateBackToA]
ON [dbo].[KetQuaHocTap]
AFTER UPDATE
AS
BEGIN
    -- Khi điểm ở bảng B thay đổi, cập nhật Email ở bảng A (ví dụ để đánh dấu đã update)
    UPDATE [HoSoSinhVien]
    SET [Email] = [Email] -- Chỉ là lệnh gán giả vờ để kích hoạt logic cập nhật
    FROM [HoSoSinhVien] sv
    JOIN inserted i ON sv.[MaSinhVien] = i.[MaSinhVien];
    
    PRINT N'==> Trigger B: Đã cập nhật ngược lại bảng A.';
END;
GO
ALTER TABLE [dbo].[KetQuaHocTap] ENABLE TRIGGER [trg_UpdateBackToA]
GO
